<form action="/form" method="POST">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Name..." name="name">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Age..." name="age">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nationality..." name="nationality">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color);">
            Send
        </button>
    </div>
</form>