<div style="background-color:var(--dark-color); height: 100vh">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:var(--light-color); text-align: center;">Slist</h1>
        <br>
        <br>
        <div style="align-items: center;">
            <form action="/newList" method="POST">
                <div class="form-group">
                    <input type="test" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter code..." style="border-color: var(--neutral-color);">
                    <br>
                    <button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color);">
                        Go
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>