<% include partials/inputListForm.html %>
<div class="container-fluid" style="min-height: 100vh;">
    <br>
    <form action="/sendChecked" method="POST">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
                
            <% let i = 0 %>
            <% items.forEach(item => { %>
                <tr>
                    <th scope="row"><%- i + 1 %></th>
                    <% if (item.checked) { %>
                        <td><input type="checkbox" name="<%- i._id %>" checked></td>
                    <% } else { %>
                        <td><input type="checkbox" name="<%- i._id %>"></td>
                    <% } %>
                    <td><%- item.name %></td>
                    <td><%- item.quantity %></td>
                </tr>
                <% i = i + 1 %>
            <% }) %>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color);">
            Update
        </button>
    </form>
</div>
<script>
</script>