<% include partials/inputListForm.html %>
<div class="container-fluid" style="min-height: 100vh;">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
            
        <% let i = 0 %>
        <% items.forEach(item => { %>
            <tr>
                <th scope="row"><%- i + 1 %></th>
                <!-- <td><%- item.checked %></td> -->
                <% if (item.checked) { %>
                    <td><input type="checkbox" checked></td>
                    
                <% } else { %>
                    <td><input type="checkbox" onchange="toggleCheckbox(this)"></td>
                <% } %>
                <td><%- item.name %></td>
                <td><%- item.quantity %></td>
            </tr>
            <% i = i + 1 %>
        <% }) %>
        </tbody>
    </table>
</div>
<script>
    function toggleCheckbox(element)
    {
        // element.checked = !element.checked;
        window.alert('he')
    }
</script>